.about-me {
  padding-top: 0;
}

.about-me {

  .me-info {
    padding-left: 20px;
  }

  img.me {
    border-radius: 50%;
  }

  .description {
    max-width: 400px;
    margin: 10px auto auto 10px;
    text-align: justify;
  }

}

.about-me {

  .contact {

    a {
      border: none;
    }

    .icon {
      color: @iconColor;
      margin-right: 10px;
    }


    .contact-item-text {
      text-align: right;
    }

  }

  .contact-item {
    marging: 50px auto;
  }

}
