.about-me {
  padding-top: 0;
}

.about-me {

  .me-image {
    text-align: center;
    figure {
      display: inline-block;
    }
  }

  img.me {
    border-radius: 50%;
    margin: 0 auto;
    width: auto;
  }

  .description {
    text-align: justify;
  }

}
