@import "vendor/normalize.css";
@import "vendor/bulma.css";
@import "colors";

@import "about-me";
@import "education";

body {
  background: @bgColor;
  color: @textColor;
  height: 100vh;
  padding-top: 30px;
}
