@cardContentVerticalPadding: 15px;

.experience {

  .role {
    font-weight: 700;
    margin: 0 auto;
  }

  .date {
    margin: 10px auto;
  }

  .card {
    cursor: pointer;
  }

  .card-content {
    padding-top: @cardContentVerticalPadding;
    padding-bottom: @cardContentVerticalPadding;
  }

  .second-icon {
    margin: auto 10px;
    -webkit-animation: fadeinout 2s linear infinite;
    animation: fadeinout 2s linear infinite;
    opacity: 0;
  }

  @-webkit-keyframes fadeinout {
    50% {
      opacity: 1;
    }
  }

  @keyframes fadeinout {
    50% {
      opacity: 1;
    }
  }

}