.resume {}

.education,
.experience,
.skills-tile {

  .card {
    background-color: @bgColor;
  }

  a.card-header-icon {
    cursor: auto;
    padding-right: 0;
  }

  .icon {
    color: @iconColor;
    cursor: auto;
  }

}
